services:
  api:
    ports:
      - '8000:8000'
    networks:
      - app_network
  web:
    ports:
      - '3000:3000'
    networks:
      - app_network

# Define a network, which allows containers to communicate
# with each other, by using their container name as a hostname
networks:
  app_network:
    external: true
